<!-- Starts: Search Navbar -->
<div class="search-navbar">
    <div class="search-navbar-left-column">
        <div class="material-symbols-outlined search-navbar-left-column-icon">menu</div>
        <div class="search-navbar-left-column-logo" (click)="navigateToHome()">
            <span style="color: #DA6365;">BOOK'S</span>TIME
        </div>
    </div>
    <div class="search-navbar-right-column">
        <div class="search-navbar-right-column-item" (click)="navigateToCart()">
            <div class="material-symbols-outlined search-navbar-right-column-item-icon">shopping_cart</div>
            <div class="search-navbar-right-column-item-text">Cart</div>
        </div>
    </div>
</div><br/><br/><br/>
<!-- Ends: Search Navbar -->