<!-- Starts: Loader -->
<ng-container *ngIf="isLoading">
    <app-loader></app-loader>
</ng-container>
<!-- Ends: Loader -->

<!-- Starts: Catalog Page -->
<ng-container *ngIf="!isLoading">
    <div class="catalog-page">
        <!-- Starts: Navbar -->
        <app-navbar></app-navbar>
        <!-- Ends: Navbar -->

        <!-- Starts: Book-Catalog -->
        <div class="catalog">
            <!-- Starts: Book-Catalog Title -->
            <div class="catalog-title">
                Searched Results - {{ bookList.length }}
            </div><br/><br/>
            <!-- Ends: Book-Catalog Title -->

            <!-- Starts: Books -->
            <div class="books">
                <ng-container *ngFor="let book of bookList; let i = index">
                    <!-- Starts: Book -->
                    <div class="book">
                        <div class="book-image">
                            <img [src]="book.image" alt="book-icon">
                        </div>
                        <div class="book-description">
                            <div class="book-description-title">
                                {{ book.title }}
                            </div>
                            <div class="book-description-subtitle">
                                {{ book.short_intro }}
                            </div>
                            <!-- Starts: Star Calculations -->
                            <div class="book-description-star">
                                <ng-container *ngFor="let star of [].constructor(getFloorValue(book.star))">
                                    <div class='fa fa-star'></div>
                                </ng-container>
                                <ng-container *ngIf="isFloat(book.star)">
                                    <div class='fa fa-star-half-o'></div>
                                </ng-container>
                            </div>
                            <!-- Ends: Star Calculations -->
                        </div><br/>

                        <ng-container *ngIf="!book.inCart">
                            <button type="button" class="add-to-cart-button" (click)="addToCart(i)">
                                Add to Cart
                            </button>
                        </ng-container>
                        <ng-container *ngIf="book.inCart">
                            <button type="button" class="add-to-cart-button">
                                In Cart
                            </button>
                        </ng-container>
                    </div>
                    <!-- Ends: Book -->
                </ng-container>
            </div>
            <!-- Ends: Top Books -->
        </div>
        <!-- Ends: Book-Catalog -->
    </div>
</ng-container>
<!-- Ends: Catalog Page -->
