<!-- Starts: Footer Section -->
<div class="common-section">
    <div class="footer">
        <!-- Starts: Footer Column 1 -->
        <div class="footer-column1">
            <div class="footer-column-title">
                <span style="color: #DA6365;">BOOK'S</span>TIME
            </div><br/>
            <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam sint sed illum voluptas dolorum ducimus culpa rem itaque laborum tempora.</div>
        </div>
        <!-- Ends: Footer Column 1 -->

        <!-- Starts: Footer Column 2 -->
        <div class="footer-column2">
            <div class="footer-column-title">
                Help
            </div><br/>
            <div class="">Contact us</div>
            <div class="my-1">Sign in/Join</div>
            <div class="my-1">Book printing</div>
            <div class="">Comparison chart</div>
        </div>
        <!-- Ends: Footer Column 2 -->

        <!-- Starts: Footer Column 3 -->
        <div class="footer-column2">
            <div class="footer-column-title">
                Discover
            </div><br/>
            <div class="">Home</div>
            <div class="my-1">Books</div>
            <div class="my-1">Subject</div>
            <div class="">About us</div>
        </div>
        <!-- Ends: Footer Column 3 -->

        <!-- Starts: Footer Column 4 -->
        <div class="footer-column3">
            <div class="footer-column-title">
                Reviews
            </div><br/>

            <div class="footer-stars">
                <div class='fa fa-star'></div>
                <div class='fa fa-star'></div>
                <div class='fa fa-star'></div>
                <div class='fa fa-star'></div>
                <div class='fa fa-star-half-o'></div>
            </div>
            <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, voluptatum!</div><br/>
            <div class="footer-social-icon">
                <div class="fa fa-facebook"></div>
                <div class="fa fa-google mx-4"></div>
                <div class="fa fa-twitter"></div>
            </div>
        </div>
        <!-- Ends: Footer Column 4 -->
    </div>
</div>
<!-- Ends: Footer Section -->