<!-- Starts: Search Section -->
<div class="search-section">
    <!-- Starts: Search Navbar -->
    <app-navbar></app-navbar>
    <!-- Ends: Search Navbar -->

    <!-- Starts: Search Headers -->
    <div class="search-heading">
        <div class="search-heading-title">BOOK SEARCH</div>
        <div class="search-heading-subtitle">Reading lists begin as a shelf full of hope until the year files</div>
    </div><br/><br/><br/>
    <!-- Ends: Search Headers -->

    <!-- Starts: Search Bar -->
    <div class="search-bar">
        <!-- Starts: Search Bar Row 1 -->
        <div class="dropdown">
            <div class="dropdown-toggle dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ category }}
            </div>
            <div class="dropdown-menu">
                <ng-container *ngFor="let categoryFor of categoryList">
                    <div class="dropdown-item" (click)="category = categoryFor.name">{{ categoryFor.name }}</div>
                </ng-container>
            </div>
        </div>
        <input type="text" class="search-bar-input" id="search" name="search" placeholder="Search" [(ngModel)]="searchString">
        <button type="button" class="search-bar-button" (click)="search()">
            <div class="fa fa-search"></div>
        </button>
        <!-- Ends: Search Bar Row 1 -->
    </div><br/>
    <div class="search-bar">
        <!-- Starts: Search Bar Row 2 -->
        <div class="">
            <div class="search-heading-subtitle">Min Price</div>
            <input type="number" class="search-bar-input" style="width: 100px; padding: 1rem;" id="min-price" name="min-price" placeholder="min price" [(ngModel)]="minPrice">
        </div>
        <div class="">
            <div class="search-heading-subtitle">Max Price</div>
            <input type="number" class="search-bar-input" style="width: 100px; padding: 1rem;" id="max-price" name="max-price" placeholder="max price" [(ngModel)]="maxPrice">
        </div>
        <div class="">
            <div class="search-heading-subtitle">Min Date</div>
            <input type="date" class="search-bar-input" style="width: 200px; padding: 1rem;" id="min-date" name="min-date" placeholder="min date" [(ngModel)]="minDate">
        </div>
        <div class="">
            <div class="search-heading-subtitle">Max Date</div>
            <input type="date" class="search-bar-input" style="width: 200px; padding: 1rem;" id="max-date" name="max-date" placeholder="max date" [(ngModel)]="maxDate">
        </div>
        <!-- Ends: Search Bar Row 2 -->
    </div><br/><br/><br/>
    <!-- Ends: Search Bar -->

    <!-- Starts: Go to Catalog Button -->
    <div class="d-flex justify-content-center">
        <button type="button" class="search-bar-button" (click)="bookCatalog()">
            Book Catalog
        </button>
    </div>
    <!-- Ends: Go to Catalog Button -->
</div><br/>
<!-- Ends: Search Section -->
