<!-- Starts: Search Section -->
<div class="search-section">
    <!-- Starts: Search Navbar -->
    <app-navbar></app-navbar>
    <!-- Ends: Search Navbar -->

    <!-- Starts: Search Headers -->
    <div class="search-heading">
        <div class="search-heading-title">BOOK SEARCH</div>
        <div class="search-heading-subtitle">Reading lists begin as a shelf full of hope until the year files</div>
    </div><br/><br/><br/>
    <!-- Ends: Search Headers -->

    <!-- Starts: Search Bar -->
    <div class="search-bar">
        <div class="dropdown">
            <div class="dropdown-toggle dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ category }}
            </div>
            <div class="dropdown-menu">
                <ng-container *ngFor="let categoryFor of categoryList">
                    <div class="dropdown-item" (click)="category = categoryFor.name">{{ categoryFor.name }}</div>
                </ng-container>
            </div>
        </div>
        <input type="text" class="search-bar-input" id="search" name="search" placeholder="Search" [(ngModel)]="searchString">
        <button type="button" class="search-bar-button" (click)="search()">
            <div class="fa fa-search"></div>
        </button>
    </div><br/><br/><br/><br/>
    <!-- Ends: Search Bar -->

    <div class="d-flex justify-content-center">
        <button type="button" class="search-bar-button" (click)="bookCatalog()">
            Book Catalog
        </button>
    </div>
</div><br/>
<!-- Ends: Search Section -->
