/* Starts: Search Section */
.search-section {
    background-image: url("../../../assets/landscape-4.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    /* Starts: Search Headers */
.search-heading {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.search-heading-title {
    font-size: 4rem;
    font-weight: bold;
}

.search-heading-subtitle {
    font-weight: bold;
}
    /* Ends: Search Headers */

    /* Starts: Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.dropdown {
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 0.2rem;
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.search-bar-input {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.2rem;
    margin-right: 1rem;
    outline: none;
    width: 30vw;
}

.search-bar-button {
    background-color: #DA6365;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    font-weight: bold;
}
/* Starts: Search Section */
