/* Starts: Author Page */
.author {
    padding: 1rem 10rem;
}
    /* Starts: Author Basic Details */
.author-basic-details {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.author-image {
    flex-basis: 30%;
    max-width: 200px;
}

img {
    width: 100%;
    border-radius: 0.5rem;
}

.author-description {
    flex-basis: 60%;
}

.author-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.fa-star {
    margin-right: 0.3rem;
}
    /* Ends: Author Basic Details */

    /* Starts: Author Not Found */
.author-not-found {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 10rem;
}
/* Ends: Author Page */
