<!-- Starts: Loader -->
<ng-container *ngIf="isLoading">
    <app-loader></app-loader>
</ng-container>
<!-- Ends: Loader -->


<!-- Starts: Home Page -->
<ng-container *ngIf="!isLoading">
    <div class="home-page">
        <!-- Starts: Search Bar -->
        <app-search-bar></app-search-bar>
        <!-- Ends: Search Bar -->


        <!-- Starts: Find More Category -->
        <div class="common-section">
            <!-- Starts: Categories Section Title -->
            <div class="common-section-title">
                Find More Category
            </div><br/><br/>
            <!-- Ends: Categories Section Title -->

            <!-- Starts: Categories -->
            <div class="categories">
                <ng-container *ngFor="let category of categoryList; let i = index">
                    <!-- Starts: Category -->
                    <div class="category category-{{i % 4}}" (click)="getCategoryBooks(category.name)">
                        <div class="category-icon">
                            <img [src]="category.icon" alt="book-icon">
                        </div>
                        <div class="category-title">{{ category.name | uppercase }}</div>
                    </div>
                    <!-- Ends: Category -->
                </ng-container>
            </div>
            <!-- Ends: Categories -->
        </div><br/>
        <!-- Ends: Find More Category -->


        <!-- Starts: Books For Children -->
        <div class="common-section">
            <!-- Starts: Categories Section Title -->
            <div class="common-section-title">
                Books For Children
            </div><br/><br/>
            <!-- Ends: Categories Section Title -->

            <!-- Starts: Books Section -->
            <div class="children-books">
                <!-- Starts: Books Section - Left Column -->
                <div class="children-books-left">
                    <div class="children-books-left-book">
                        <div class="children-books-left-book-image">
                            <img src="../../assets/book-4.jpg" alt="book-icon">
                        </div>
                        <div class="children-books-left-book-description">
                            <div class="children-books-left-book-description-title">
                                Harry Potter
                            </div>
                            <div class="children-books-left-book-description-subtitle">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolor voluptatem minus eveniet molestiae officiis dolore unde doloribus corrupti tenetur?
                            </div>
                            <div class="children-books-left-book-description-star">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ends: Books Section - Left Column -->

                <!-- Starts: Books Section - Right Column -->
                <div class="children-books-right">
                    <!-- Starts: Books Grid -->
                    <div class="children-books-right-books">
                        <div class="children-books-right-book">
                            <div class="children-books-right-book-image">
                                <img src="../../assets/book-4.jpg" alt="book-icon">
                            </div>
                            <div class="children-books-right-book-title">Harry Potter</div>
                            <div class="children-books-right-book-image">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                        <div class="children-books-right-book">
                            <div class="children-books-right-book-image">
                                <img src="../../assets/book-4.jpg" alt="book-icon">
                            </div>
                            <div class="children-books-right-book-title">Harry Potter</div>
                            <div class="children-books-right-book-image">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                        <div class="children-books-right-book">
                            <div class="children-books-right-book-image">
                                <img src="../../assets/book-4.jpg" alt="book-icon">
                            </div>
                            <div class="children-books-right-book-title">Harry Potter</div>
                            <div class="children-books-right-book-image">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                        <div class="children-books-right-book">
                            <div class="children-books-right-book-image">
                                <img src="../../assets/book-4.jpg" alt="book-icon">
                            </div>
                            <div class="children-books-right-book-title">Harry Potter</div>
                            <div class="children-books-right-book-image">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                        <div class="children-books-right-book">
                            <div class="children-books-right-book-image">
                                <img src="../../assets/book-4.jpg" alt="book-icon">
                            </div>
                            <div class="children-books-right-book-title">Harry Potter</div>
                            <div class="children-books-right-book-image">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                        <div class="children-books-right-book">
                            <div class="children-books-right-book-image">
                                <img src="../../assets/book-4.jpg" alt="book-icon">
                            </div>
                            <div class="children-books-right-book-title">Harry Potter</div>
                            <div class="children-books-right-book-image">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                        <div class="children-books-right-book">
                            <div class="children-books-right-book-image">
                                <img src="../../assets/book-4.jpg" alt="book-icon">
                            </div>
                            <div class="children-books-right-book-title">Harry Potter</div>
                            <div class="children-books-right-book-image">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                        <div class="children-books-right-book">
                            <div class="children-books-right-book-image">
                                <img src="../../assets/book-4.jpg" alt="book-icon">
                            </div>
                            <div class="children-books-right-book-title">Harry Potter</div>
                            <div class="children-books-right-book-image">
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star'></div>
                                <div class='fa fa-star-half-o'></div>
                            </div>
                        </div>
                    </div>
                    <!-- Ends: Books Grid -->
                </div>
                <!-- Ends: Books Section - Right Column -->
            </div>
            <!-- Ends: Books Section -->
        </div><br/><br/><br/>
        <!-- Ends: Books For Children -->


        <!-- Starts: Top Books & Authors -->
        <div class="top-books-authors">
            <!-- Starts: Top Books Column -->
            <div class="top-books-column">
                <!-- Starts: Top Books Column Title -->
                <div class="top-books-title">TOP 6 BOOKS</div><br/>
                <!-- ends: Top Books Column Title -->

                <!-- Starts: Top Books -->
                <div class="top-books">
                    <ng-container *ngFor="let book of bookList; let i = index">
                        <!-- Starts: Book -->
                        <div class="top-book">
                            <div class="top-book-image">
                                <img [src]="book.image" alt="book-icon">
                            </div>
                            <div class="top-book-description">
                                <div class="top-book-description-title">
                                    {{ book.title }}
                                </div>
                                <div class="top-book-description-subtitle">
                                    {{ book.short_intro }}
                                </div><br/>
                                <!-- Starts: Star Calculations -->
                                <div class="top-book-description-star">
                                    <ng-container *ngFor="let star of [].constructor(getFloorValue(book.star))">
                                        <div class='fa fa-star'></div>
                                    </ng-container>
                                    <ng-container *ngIf="isFloat(book.star)">
                                        <div class='fa fa-star-half-o'></div>
                                    </ng-container>
                                </div>
                                <!-- Ends: Star Calculations -->
                            </div>
                        </div>
                        <!-- Ends: Book -->
                    </ng-container>
                </div>
                <!-- Ends: Top Books -->
            </div>
            <!-- Ends: Top Books Column -->

            <!-- Starts: Top Authors Column -->
            <div class="top-authors-column">
                <!-- Starts: Top Authors Column Title -->
                <div class="top-authors-title">TOP 3 AUTHORS</div><br/>
                <!-- Ends: Top Authors Column Title -->
                
                <ng-container *ngFor="let author of authorList; let i = index">
                    <!-- Starts: Top Author -->
                    <div class="top-author">
                        <div class="top-author-image">
                            <img [src]="author.image" alt="book-icon">
                        </div>
                        <div class="top-author-description">
                            <div class="top-author-description-title">
                                {{ author.name }}
                            </div>
                            <div class="top-author-description-subtitle">
                                {{ author.short_intro }}
                            </div>
                            <button type="button" class="author-button">
                                Read more
                            </button>
                        </div>
                    </div>
                    <!-- Ends: Top Author -->
                </ng-container>
            </div>
            <!-- Ends: Top Authors Column -->
        </div><br/><br/>
        <!-- Ends: Top Books & Authors -->

        <!-- Starts: Footer -->
        <app-footer></app-footer>
        <!-- Ends: Footer -->
    </div>
</ng-container>
<!-- Ends: Home Page -->